/* GENERAL STYLING */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
}
:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

.margin-left {
  margin-left: 100px;
}
.margin-right {
  margin-right: 100px;
}
/* CHECK CLASS */
/* .border
{
  border: 1px solid black;
} */

/* X---GENERAL STYLING END---X */
/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0.1px 0.1px 10px var(--black3);
}
nav .logo {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}
.nav-link {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.nav-link li a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  transition: all;
  transition-duration: 0.3s;
}
.nav-link li a:hover {
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  /* nav .nav-link
      {
          display: none;
      } */

  body {
    overflow-x: hidden;
  }
  .margin-left {
    margin-left: 30px;
  }
  .hamburger {
    margin-left: 30px;
    z-index: 2;
  }
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--black4);
    margin: 4px;
  }

  .nav-link {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 50%;
    background-color: white;
    flex-direction: column;
    justify-content: start;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
  }
  .nav-link li {
    padding: 20px 15px;
    cursor: pointer;
  }
  .nav-link li a {
    color: var(--black2);
  }
  nav .logo {
    font-size: 20px;
    margin-right: 30px;
  }

  .cross .line:nth-child(1) {
    transform: rotateZ(-45deg) translate(5px, 9px);
  }
  .cross .line:nth-child(2) {
    display: none;
  }
  .cross .line:nth-child(3) {
    transform: rotateZ(45deg) translate(5px, -9px);
  }
}
.nav-active {
  z-index: 2;
  transform: translateX(0%);
}

@media screen and (max-width: 468px) {
  nav .logo {
    cursor: pointer;
    font-size: 25px;
  }
}

/* Navbar ended */
/* Main page styling  */

main img {
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}

main .main_content {
  margin: -510px 450px 0px;
}
main .main_header {
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px auto;
  color: var(--black3);
  font-family: 'RocknRoll One', sans-serif;
}
main .main_slogan {
  font-size: 30px;
  color: var(--black3);
  font-family: 'RocknRoll One', sans-serif;
}
@media screen and (max-width: 768px) {
  main .main_content {
    margin: -310px 300px 0px;
  }
  main .main_header {
    font-size: 25px;
  }
  main .main_slogan {
    font-size: 16px;
  }
}
@media screen and (max-width: 468px) {
  main .main_content {
    margin: 50px 80px 0px;
  }
  main .main_header {
    font-size: 25px;
  }
  main .main_slogan {
    font-size: 16px;
  }
  #services
  {
    margin-top: 100px;
  }
}
@media screen and (max-width: 400px) {
  main .main_content {
    margin: -140px 100px 0px;
  }
  main .main_header {
    font-size: 16px;
  }
  main .main_slogan {
    font-size: 12px;
  }
}

/* SERVICES PAGE STYLING */

/* product bar */
.product_bar {
  margin-top: 500px;
  /* border: 1px solid red; */
  width: 85%;
  min-height: 10vh;
  background-color: var(--primaryColor);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--grey2);
  line-height: 10vh;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* .latest_border {
  border: 1px solid black;
} */
.latest_product {
  width: 85%;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  max-width: 33%;
  text-align: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.product img {
  width: 100px;
}
.product .product_title {
  color: var(--black2);
  margin-bottom: 15px;
  /* text-transform: uppercase; */
  font-size: 14px;
  text-align: center;
}
.product .product_cart_btn button {
  margin-top: 5px;
  border: 2px solid var(--black4);
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--black4);
  color: white;
}

@media screen and (max-width: 768px) {
  .latest_product {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .latest_product {
    width: 90%;
  }
  .product {
    max-width: 45%;
  }
}

@media screen and (max-width: 438px) {
  .latest_product {
    width: 100%;
  }
  .margin-left {
    margin-left: 50px;
  }
  .product {
    max-width: 100%;
    min-height: 200px;
    margin-right: 100px;
  }
  .product_bar {
    margin-top: 300px;
    width: 75%;
    margin-bottom: -50px;
  }
}

/* X---SERVICES PAGE STYLING ----X*/

/* <!-- ABOUT PAGE START --> */
#about_page {
  margin-top: 100px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#about_page .about_page_left {
  width: 45%;
}
#about_page .about_page_left h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--black2);
}
#about_page .about_page_left p {
  font-size: 20px;
}
#about_page .about_page_left .team_btn
{
  margin-top: 10px;
  border: 2px solid var(--black4);
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--black4);
  
}
#about_page .about_page_left .team_btn a
{
  color: white;
}
#about_page .about_page_left .team_btn:hover
{
  background-color: transparent;
  
}
#about_page .about_page_left .team_btn:hover a
{
  color: var(--black4);
}
#about_page .about_page_right {
  width: 50%;
}
#about_page .about_page_right .image_container {
  border-radius: 5px;
  overflow: hidden;
}
#about_page .about_page_right img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {

  #about_page .about_page_left h1 {
    font-size: 20px;
    margin-bottom: 10px;

  }
  #about_page .about_page_left p {
    font-size: 15px;
  }
  #about_page .about_page_right img {
    width: 200%;
    height: 200%;
  }

}
@media screen and (max-width: 438px)
{
  #about_page
  {
    width: 80%;
  }
  #about_page .about_page_left {
    width: 100%;
  }
  #about_page .about_page_right
  {
    display: none;
  }
}

/* <!-- X---ABOUT PAGE END --X --> */
/* TEAM PAGE STYLING */
#team .product
{
  /* border: 1px solid black; */
  min-width: 33%;
  background-color: var(--primaryColor);
}
#team .product_img
{
  width: 140px;
  margin: 0px auto;
  border-radius: 200px;
  overflow: hidden;
}
#team .product_img img
{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 438px)
{
  #team .product
  {
    min-width: 80%;
  }
}
/* TEAM PAGE STYLING  ENDED*/

/* TESTIMONIALS STYLING */

#review .product
{
  border: 4px solid var(--black4);
  background-color: var(--black4);
  color: white;
  transition: all 0.5s;
}
#review .product:hover
{
  background-color: transparent;
  color: var(--black4);
}
#review .product p
{
  font-size: 25px;
  font-style: oblique;
}

/* TESTIMONIALS STYLING END*/
/* 
CONTACT PAGE STYLING */

.background {
  display: flex;
  min-height: 100vh;

  /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
  background-color: var(--primaryColor);
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #ddd;
  font-size: 14px;
  font-weight: bold;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;  
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}